@import './partials/_variables.scss';
@import './partials/_initial.scss';
@import './partials/_login.scss';
@import './partials/_progressBar.scss';
@import './partials/_shadowLoading.scss';
@import './partials/_selectPlace.scss';

html {
  height: 100%;
}
* {
  box-sizing: border-box;
}
ul {
	margin: 0;
	padding: 0;
}
li {
	list-style: none;
}
body {
  background: $frameBackgroundColor;
  padding: 12px;
  margin: 0;
  //height: 100vh;
  height: 100%;
  // width: 100vw;

}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 8px;
  overflow: hidden;
  width: 100%;
  min-height: 100%;
  background: $wrapperBackgroundColor;
  max-width: 410px;
  margin: 24px auto;
  position: relative;
}
.color-main {
  color: $primaryColor;
}
.logo-margin {
	margin-top: 200px;
    margin-bottom: 50px;
}
.button {
    background: $primaryColor;
    margin-top: 15px;
    padding: 7.5px;
    border: 1px solid transparent;
    border-radius: 5px;
    font-family: $secondaryFont;
    color: white;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.h4 {
	width: 60%;
	margin-top: 0;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-top: 0;
	color: $headersColorMain;
	position: relative;
		&:after {
			content: '';
			display: block;
			height: 3px;
			width: 25%;
			position: absolute;
			left:105%;
			top: calc(50% - 1.5px);
			background: $leftAndRightBorder;
			border-radius: 10px;
		}
		&:before {
			content: '';
			display: block;
			height: 3px;
			width: 25%;
			position: absolute;
			right:105%;
			top: calc(50% - 1.5px);
			background: $leftAndRightBorder;
			border-radius: 10px;
		}
}
.scale-down {
  transform: scale(.75);
  transition: .3s;
}
@keyframes bounce-up-down {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-50px); }
  100% { transform: translateY(0); }
}
@keyframes bounce-scale {
  0% { transform: scale(.9); }
  30% { transform: scale(1.1); }
  60% { transform: scale(1); }
  100% { transform: scale(.9); }
}
@keyframes rotate-to-zero {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}