.initial-text__container {
    display: flex;
    justify-content: center;
    flex-direction: column;
	flex-wrap: wrap;
    width: 85vw;
    height: 32vh;
    border-radius: 15px;
    border: 3px solid rgb(238, 238, 238);
    background: white;
    position: relative;
    transition: transform .5s, opacity .1s;
	overflow: hidden;
}
.initial-text__text {
    font-family: 'Dancing Script', cursive, sans-serif;
    font-size: 14vw;
    text-align: center;
    padding: 20px;
    color: rgb(255, 77, 77);
}
.initial-text__container.initial {
    transform: translateY(-200%);
	transition: transform .5s;
}
.initial-text__container.loaded  {
    -webkit-animation: 1s bounce-up-down;
    -moz-animation: 1s bounce-up-down;
    -o-animation: 1s bounce-up-down;
    animation: 1s bounce-up-down;
}
.initial-text__container.completed {
    animation: 1s bounce-scale;
    opacity: 0;
    transform: scale(1);
    transition: 1s;
}
.progress-bar__wrapper {
    height: 10px;
    width: 50vw;
    background: transparent;
    border: .5px solid rgba(0, 0, 0, .1);
    margin-top: 10vw;
    border-radius: 10px;
    text-align: center;
    position: relative;
}
.progress-bar__wrapper > span {
    font-family: 'Dancing Script', cursive, sans-serif;
    position: absolute;
    top: -250%;
    left: 50%;
    transform: translateX(-50%);
}
.progress-bar__wrapper > span:after {
    content: '%';
}
.progress-bar {
    height: 100%;
    background: rgb(255, 77, 77);
    border-radius: 10px;
    transition: .3s;
}
@keyframes bounce-up-down {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(-50px); }
    100% { transform: translateY(0); }
}
@keyframes bounce-scale {
    0% { transform: scale(.9); }
    30% { transform: scale(1.1); }
    60% { transform: scale(1); }
    100% { transform: scale(.9); }
}