.login__wrapper {
    width: 85vw;
    border-radius: 10px;
    font-size: 4.5vw;
    font-family: 'Quicksand', sans-serif;
}
.initial-login__container {
    background: white;
    border-radius: 10px;
    padding: 10px 15px;
    border: 2px solid rgb(238, 238, 238);
}
.initial-login__logo {
    font-family: 'Dancing Script', cursive, sans-serif;
    font-size: 14vw;
    text-align: center;
    color: rgb(255, 77, 77);;
}
.initial-login__input-wrapper {
    margin: 10px 0;
}
.initial-login__input-wrapper input {
    display: block;
    width: 100%;
    border: 1px solid rgb(238, 238, 238);
    border-radius: 5px;
    padding: 10px 25px;
    background: #f9f9f9;
    margin-top: 5px;
    outline: none;
    font-size: 4vw;
    font-family: 'Quicksand', sans-serif;
}
.login__wrapper input[type='submit'] {
    width: 100%;
    background: rgb(255, 77, 77);
    margin-top: 15px;
    padding: 7.5px;
    border: 1px solid transparent;
    border-radius: 5px;
    font-family: 'Quicksand', sans-serif;
    color: white;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.initial-login__change-option {
    margin-top: 15px;
    background: white;
    border-radius: 10px;
    padding: 10px 15px;
    text-align: center;
    border: 2px solid rgb(238, 238, 238);
}
.initial-login__change-option.bounce-animate {
    animation: .5s bounce-scale;
}
.sing-up-link {
    color: dodgerblue;
    padding: 0 16px;
    display: inline-block;
    text-decoration: underline;
}