.shopping-cart {

    width: 28px;
    position: relative;

    svg {
        fill: $footerNotSelectedBackground;
    }

    &.filled {

        svg {
            fill: $footerSelectedBackground;
        }

    }

    &__wrapper {
        margin: 10px auto;
        position: relative;
    }

    &__count {
        display: block;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        position: absolute;
        bottom: 0px;
        left: -5px;
        background: $primaryColor;
        color: white;
        font-size: 12px;
        font-family: $secondaryFont;
        text-align: center;
        line-height: 18px;
    }

}

.button {

    & svg {
        margin-right: 10px;
        width: 20px;
        fill: white;
    }

    &.visited {

        & svg {
            fill: $primaryColor;
        }
    }
}