.footer {
    &__container {
        bottom: 0;
        box-shadow: 1px 4px 10px 0 rgba(0, 0, 0, 0.36);
    }

    &__display {
        display: flex;

        &_row {
            margin: 0 5px;
            margin-left: 0px;
            width: 34px;
            height: 34px;
            border: .5px solid $frameBackgroundColor;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            &.selected {
                & span {
                    background: $primaryColor;
                }
            }

            & span {
                background: $footerNotSelectedBackground;
            }

            & > div {
                display: flex;
            }

            &.row {
                &_1 span {
                    width: 13px;
                    height: 13px;
                    margin: .5px;
                }

                &_2 span {
                    width: 11px;
                    height: 11px;
                    margin: .5px;
                    display: inline-block;
                }

                &_3 span {
                    width: 8px;
                    height: 8px;
                    margin: .5px;
                }
            }
        }
    }

    // &__cart {
    //     width: 28px;

    //     & > svg {
    //         fill: $footerNotSelectedBackground;
    //     }
    // }
}
