.initial-text {

   &__container {
     display: flex;
     justify-content: center;
     flex-direction: column;
     flex-wrap: wrap;
     width: 90%;
     height: 255px;
     border-radius: 8px;
     border: 1px solid $frameBackgroundColor;
     background: white;
     position: relative;
     transition: transform .5s, opacity .1s;
     overflow: hidden;
     margin-top: 24px;

     &.initial {
       transform: translateY(-200%);
       transition: transform .5s;
     }

     &.loaded {
       -webkit-animation: 1s bounce-up-down;
       -moz-animation: 1s bounce-up-down;
       -o-animation: 1s bounce-up-down;
       animation: 1s bounce-up-down;
     }

     &.completed {
       animation: 1s bounce-scale;
       opacity: 0;
       transform: scale(1);
       transition: 1s;
     }

   }

  &__text {
    font-family: $primaryFont;
    font-size:42px;
    text-align: center;
    padding: 20px;
    color: $primaryColor;
  }

}
.initial-login {

  &__container {
    background: white;
    padding: 10px 15px;
    border: 1px solid $frameBackgroundColor;
    transition: .35s;

    &.scale-down {
      transform: scale(.75);
    }

  }

  &__logo {
    font-family: $primaryFont;
    font-size: 46px;
    text-align: center;
    color: $primaryColor;
  }

  &__notification {
    position: absolute;
    right: 0;
    top: 46%;
    font-size: 24px;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    transform: translate(60%, 0%);
    border-radius: 50%;
    color: $frameBackgroundColor;
    border: 1px solid $frameBackgroundColor;
	&.error {
		color: $primaryColor;
		border: 1px solid $primaryColor;
	}
	&.opened > div {
		display: flex;
		justify-content: center;
		align-items: center;
		transform: scale(1);
		opacity: 1;
		animation: .25s bounce-up-down;
	}
	&>div {
		transform: scale(0);
		opacity: 0;
		position: absolute;
		padding: 7.5px 10px;
		background: white;
		border: 1px solid $primaryColor;
		border-radius: 10px;
		top: -58px;
		font-size: 12px;
		width: 295px;
		height: 50px;
		max-height: 50px;
		right: 0;
		color: $primaryColor;
		z-index: 10;
		transition: .3s;
			&:after {
				content: '';
				position: absolute;
				right: 7px;
				top: 100%;
				display: block;
				width: 0;
				height: 0;
				border-left: 6px solid transparent;
				border-right: 6px solid transparent;
				border-top: 7px solid #ff4d4d;
			}
		}
	}	

  &__input-wrapper {
    margin: 10px;
    position: relative;

    & input {
      display: block;
      width: 98%;
      margin-left: -4%;
      border: 1px solid $frameBackgroundColor;
      border-radius: 5px;
      padding: 10px 25px;
      background: $wrapperBackgroundColor;
      margin-top: 5px;
      outline: none;
      font-size: 16px;
      font-family: $secondaryFont;
      &:focus {
        border: 1px solid $frameBackgroundColor;
      }
    }

  }

  &__change-option {
    margin-top: 15px;
    background: white;
    padding: 10px 15px;
    text-align: center;
    border: 1px solid $frameBackgroundColor;
    &.bounce-animate {
      animation: .5s bounce-scale;
    }
  }

}