@mixin parent($element) {
    .main__container_#{$element} {
        @content;
    }
}


.main {

    &__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;

        &_item {
            flex-shrink: 0;
            padding: 25px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            position: relative;
            overflow: hidden;

            & .name {
                color: $categoriesColorMain;
                font-size: 16px;
                text-align: center;
                text-transform: capitalize;
                padding: 10px;
                height: 60px;
            }

            & .select {
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                left: 10px;
                right: 10px;
                top: 10px;
                bottom: 10px;
                color: white;
                font-size: 20px;
                border-radius: 10px;
                transform: scale(0);
                transition: .3s;
            }

            &.aim {
                & .select {
                    transform: scale(1);
                    background: $loadingBackground;
                }
            }
        }
    }
}

.dishes {
    @include parent("item") {
        border: 1px solid rgb(238, 238, 238);
        border-radius: 5px;
        margin: 10px !important;
        padding: 0;

        & .image {
            background-size: cover;
            background-position: center;
            width: 100%;
            padding-top: 100%;
        }

        & .select {
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            border-radius: 5px;
        }

        & .name {
            height: auto;
            width: 100%;
            color: black;
            font-size: 13px;
            background: white;
        }
    }

    &.one {
        @include parent("item") {
            width: calc(100% - 20px);
        }
    }

    &.two {
        @include parent("item") {
            width: calc(50% - 20px);
        }
    }

    &.three {
        @include parent("item") {
            width: calc(33% - 10px);
            margin: 5px !important;
        }
    }
}

.one {
    @include parent("item") {
        width: calc(100% - 1.25px);
        margin-left: 1.25px;
        margin-right: 1.25px;
    }
}

.two {
    @include parent("item") {
        width: calc(50% - 3.75px);
        &:nth-of-type(1) {
            margin-left: 2.5px;
            margin-right: 1.25px;
        }

        &:nth-of-type(2) {
            margin-left: 1.25px;
            margin-right: 2.5px;
        }
    }
}

.three {
    @include parent("item") {
        width: calc(33% - 3.75px);
        &:nth-of-type(1) {
            margin-left: 2.5px;
            margin-right: 1.25px;
        }

        &:nth-of-type(2) {
            margin-left: 1.25px;
            margin-right: 1.25px;
        }

        &:nth-of-type(3) {
            margin-left: 1.25px;
            margin-right: 2.5px;
        }
    }
}