.pt-0 {
    padding-top: 0;
}
.mb-30 {
    margin-bottom: 30px;
}
.mt-10 {
    margin-top: 10px;
}
.mt-30 {
    margin-top: 30px;
}
.outer-s {
    margin: 15px;
}
.outer-m {
    margin: 25px;
}
.outer-b {
    margin: 45px;
}
.inner-s {
    padding: 15px;
}
.inner-m {
    padding: 25px;
}
.inner-b {
    padding: 45px;
}