.navigation {

    &__container {
        top: 0;
        padding-right: 12.5px;
        box-shadow: 1px -4px 11px 0 rgba(0,0,0,.36);
    }

    &__menu {
        position: relative;
        width: 34px;
        height: 26px;

        & > span {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background: $headersColorMain;
            transition: .3s;

            &:nth-of-type(2) {
                top: 50%;
                transform: translateX(-50%) translateY(-50%);
                transition-delay: .3s;
            }

            &:nth-of-type(3) {
                bottom: 0;
                transition-delay: .6s;
            }
        }

        &.clicked {
            & > span {
                background: $primaryColor;
            }
        }
    }
}
