.purchase {

    &__wrapper {
        padding: 10px;
        text-align: center;
    }

    &__total-price {
        font-style: italic;
        padding: 10px;
    }

    &__button {
        display: block;
        width: 100%;
        margin: 0;
    }
}
