.select-place {
	
	&__wrapper {
		width: 100%;
		font-family: "Quicksand", cursive, sans-serif;
		
		& p {
			text-align: center;
			border: 1px solid #eeeeee;
			padding: 15px 15px 0;
			line-height: 25px;
			background: white;
			& > span {
				display: block;
				padding: 5px 15px;
			}
		}
	}
	
	&__container {
	
		width: 75%;
		margin: 0 auto;
		
		&_list {
			background: white;
			max-height: 0;
			transform: scale(0);
			transition: .3s;

			& > li {
				padding: 10px 15px;
				position: relative;
				&.selected {
					background: #eeeeee;
				}
			}
		}
		
		&_button {
			transform: scale(0);
			width: 100%;
			border: 1px solid $primaryColor;
			position: relative;
			transition-delay: .25s;

		}
		
		&.opened {
		
			.select-place__container_list {
				transform: scale(1);
				max-height: 200px;
				overflow: auto;
				border: .5px solid $frameBackgroundColor;
				border-radius: 8px;
			}
			
			.select-place__container_button {
				transform: scale(1);
				animation: .5s bounce-up-down;
			}

			p {
				display: none;

			}
		}
	}
	
	&__logo {
		width: 100%;
		margin-top: -20%;
	}
	
}