$primaryFont: 'Dancing Script', cursive, sans-serif;;
$secondaryFont: 'Quicksand', sans-serif;

$primaryColor: rgb(255, 77, 77);
$frameBackgroundColor: rgb(238, 238, 238);
$wrapperBackgroundColor: #f9f9f9;
$shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.36);
