$primaryFont: 'Dancing Script', cursive, sans-serif;;
$secondaryFont: 'Quicksand', sans-serif;

$primaryColor: rgb(255, 77, 77);
$frameBackgroundColor: rgb(238, 238, 238);
$frameBackgroundColorFocused: rgb(211,211,211);
$leftAndRightBorder: rgb(211,211,211);
$wrapperBackgroundColor: #f9f9f9;
$headersColorMain: rgb(151,151,151);
$categoriesColorMain:rgb(121,121,121);
$loadingBackground: rgba(0,0,0,.5);
$footerNotSelectedBackground: rgba(0, 0, 0, 0.25);
$footerSelectedBackground: rgba(0, 0, 0, 0.5);
$shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.36);
$dotsDishesBorderColor: rgba(0,0,0,.2);
$inputColor: #4d4b4b;
$closeBackgroundColor: rgb(211,211,211);
