.initial-text__container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  width: 255px;
  height: 255px;
  border-radius: 8px;
  border: 1px solid #eeeeee;
  background: white;
  position: relative;
  transition: transform .5s, opacity .1s;
  overflow: hidden;
  margin-top: 24px; }
  .initial-text__container.initial {
    transform: translateY(-200%);
    transition: transform .5s; }
  .initial-text__container.loaded {
    -webkit-animation: 1s bounce-up-down;
    -moz-animation: 1s bounce-up-down;
    -o-animation: 1s bounce-up-down;
    animation: 1s bounce-up-down; }
  .initial-text__container.completed {
    animation: 1s bounce-scale;
    opacity: 0;
    transform: scale(1);
    transition: 1s; }

.initial-text__text {
  font-family: "Dancing Script", cursive, sans-serif;
  font-size: 42px;
  text-align: center;
  padding: 20px;
  color: #ff4d4d; }

.initial-login__container {
  background: white;
  padding: 10px 15px;
  border: 1px solid #eeeeee;
  transition: .35s; }

.initial-login__label {
  font-size: 14px; }

.initial-login__notification {
  position: absolute;
  right: 0;
  top: 46%;
  font-size: 24px;
  font-weight: 900;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  transform: translate(60%, 0%);
  border-radius: 50%;
  color: #eeeeee;
  border: 1px solid #eeeeee; }
  .initial-login__notification.error {
    color: #ff4d4d;
    border: 1px solid #ff4d4d; }
  .initial-login__notification.opened > div {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(1);
    opacity: 1;
    animation: .25s bounce-up-down; }
  .initial-login__notification > div {
    transform: scale(0);
    opacity: 0;
    position: absolute;
    padding: 7.5px 10px;
    background: white;
    border: 1px solid #ff4d4d;
    border-radius: 10px;
    top: -58px;
    font-size: 12px;
    width: 295px;
    height: 50px;
    max-height: 50px;
    right: 0;
    color: #ff4d4d;
    z-index: 10;
    transition: .3s; }
    .initial-login__notification > div:after {
      content: '';
      position: absolute;
      right: 7px;
      top: 100%;
      display: block;
      width: 0;
      height: 0;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-top: 7px solid #ff4d4d; }

.initial-login__input-wrapper {
  margin: 10px;
  position: relative; }
  .initial-login__input-wrapper input {
    display: block;
    width: 98%;
    margin-left: -4%;
    border: 1px solid #eeeeee;
    border-radius: 5px;
    padding: 10px 25px;
    background: #f9f9f9;
    margin-top: 5px;
    outline: none;
    font-size: 16px;
    font-family: "Quicksand", sans-serif; }
    .initial-login__input-wrapper input:focus {
      border: 1px solid lightgray; }

.initial-login__change-option {
  margin-top: 15px;
  background: white;
  padding: 10px 15px;
  text-align: center;
  border: 1px solid #eeeeee; }
  .initial-login__change-option.bounce-animate {
    animation: .5s bounce-scale; }

.progress-bar {
  height: 100%;
  background: #ff4d4d;
  border-radius: 10px;
  transition: .3s; }
  .progress-bar__wrapper {
    height: 10px;
    width: 64%;
    background: transparent;
    border: 0.5px solid rgba(0, 0, 0, 0.1);
    margin: 50px auto 40px;
    border-radius: 10px;
    text-align: center;
    position: relative; }
    .progress-bar__wrapper > span {
      font-family: "Dancing Script", cursive, sans-serif;
      position: absolute;
      top: -250%;
      left: 50%;
      transform: translateX(-50%); }
      .progress-bar__wrapper > span:after {
        content: '%'; }

.popup__wrapper {
  width: 100%;
  font-family: "Quicksand", cursive, sans-serif; }
  .popup__wrapper p > span {
    display: block;
    padding: 5px 15px; }

.popup__container {
  width: 85%;
  margin: 0 auto;
  background: white;
  border-radius: 10px;
  border: 1px solid #eeeeee; }
  .popup__container .hidden {
    transform: scale(0);
    max-height: 0;
    margin: 0;
    padding: 0; }
  .popup__container_select {
    text-align: center;
    padding: 15px 15px 0;
    line-height: 25px;
    background: #f9f9f9;
    border-radius: 10px; }
  .popup__container_list {
    background: white;
    max-height: 200px;
    overflow: auto;
    border: 1px solid #eeeeee;
    border-radius: 8px;
    transition: .3s; }
    .popup__container_list > li {
      padding: 10px 15px;
      position: relative;
      cursor: pointer; }
      .popup__container_list > li.selected {
        background: #eeeeee; }
  .popup__container h4 {
    transition: .3s; }
  .popup__container_button {
    max-height: 200px;
    width: 44%;
    border: 1px solid #ff4d4d;
    position: relative;
    transition-delay: .25s;
    margin: 25px 2.5%; }
    .popup__container_button.bounce {
      animation: .5s bounce-up-down; }

.popup__logo {
  width: 100%;
  margin-top: -20%; }

.shadow-container__wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center; }

.shadow-container__loading {
  text-align: center;
  font-family: "Quicksand", sans-serif;
  font-style: italic;
  font-size: 16px; }

.shadow-container__dots {
  width: 64px;
  height: 64px;
  margin: 10px auto;
  position: relative; }
  .shadow-container__dots > span {
    display: block;
    animation: rotate-to-zero 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 32px 32px; }
    .shadow-container__dots > span:after {
      content: " ";
      display: block;
      position: absolute;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background: #fff;
      margin: -3px 0 0 -3px;
      background: #ff4d4d; }
    .shadow-container__dots > span:nth-child(1) {
      animation-delay: -0.036s; }
      .shadow-container__dots > span:nth-child(1):after {
        top: 50px;
        left: 50px; }
    .shadow-container__dots > span:nth-child(2) {
      animation-delay: -0.072s; }
      .shadow-container__dots > span:nth-child(2):after {
        top: 54px;
        left: 45px; }
    .shadow-container__dots > span:nth-child(3) {
      animation-delay: -0.108s; }
      .shadow-container__dots > span:nth-child(3):after {
        top: 57px;
        left: 39px; }
    .shadow-container__dots > span:nth-child(4) {
      animation-delay: -0.144s; }
      .shadow-container__dots > span:nth-child(4):after {
        top: 58px;
        left: 32px; }
    .shadow-container__dots > span:nth-child(5) {
      animation-delay: -0.18s; }
      .shadow-container__dots > span:nth-child(5):after {
        top: 57px;
        left: 25px; }
    .shadow-container__dots > span:nth-child(6) {
      animation-delay: -0.216s; }
      .shadow-container__dots > span:nth-child(6):after {
        top: 54px;
        left: 19px; }
    .shadow-container__dots > span:nth-child(7) {
      animation-delay: -0.252s; }
      .shadow-container__dots > span:nth-child(7):after {
        top: 50px;
        left: 14px; }
    .shadow-container__dots > span:nth-child(8) {
      animation-delay: -0.288s; }
      .shadow-container__dots > span:nth-child(8):after {
        top: 45px;
        left: 10px; }

.navigation__container {
  top: 0;
  padding-right: 12.5px;
  box-shadow: 1px -4px 11px 0 rgba(0, 0, 0, 0.36); }

.navigation__menu {
  position: relative;
  width: 34px;
  height: 26px; }
  .navigation__menu > span {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #979797;
    transition: .3s; }
    .navigation__menu > span:nth-of-type(2) {
      top: 50%;
      transform: translateX(-50%) translateY(-50%);
      transition-delay: .3s; }
    .navigation__menu > span:nth-of-type(3) {
      bottom: 0;
      transition-delay: .6s; }
  .navigation__menu.clicked > span {
    background: #ff4d4d; }

.footer__container {
  bottom: 0;
  box-shadow: 1px 4px 10px 0 rgba(0, 0, 0, 0.36); }

.footer__display {
  display: flex; }
  .footer__display_row {
    margin: 0 5px;
    width: 34px;
    height: 34px;
    border: 1.5px solid #eeeeee;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .footer__display_row span {
      background: rgba(0, 0, 0, 0.25); }
    .footer__display_row > div {
      display: flex; }
    .footer__display_row.row_1 span {
      width: 10px;
      height: 10px;
      margin: 1px; }
    .footer__display_row.row_2 span {
      width: 10px;
      height: 10px;
      margin: 2px;
      display: inline-block; }
    .footer__display_row.row_3 span {
      width: 7px;
      height: 7px;
      margin: 1px; }

.footer__cart {
  width: 28px; }
  .footer__cart > svg {
    fill: rgba(0, 0, 0, 0.25); }

.categories__container {
  display: flex;
  flex-wrap: wrap; }
  .categories__container_item {
    flex-shrink: 0;
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative; }
    .categories__container_item .name {
      color: #797979;
      font-size: 16px;
      text-align: center;
      text-transform: capitalize;
      padding: 10px;
      height: 60px; }
    .categories__container_item .select {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      left: 10px;
      right: 10px;
      top: 10px;
      bottom: 10px;
      color: white;
      font-size: 20px;
      border-radius: 10px;
      transform: scale(0);
      transition: .3s; }
    .categories__container_item.aim .select {
      transform: scale(1);
      background: rgba(0, 0, 0, 0.5); }

.one .categories__container_item {
  width: calc(100% - 1.25px);
  /*padding-top: 100%;*/
  margin-left: 1.25px;
  margin-right: 1.25px; }

.two .categories__container_item {
  width: calc(50% - 3.75px);
  /*padding-top: 50%;*/ }
  .two .categories__container_item:nth-of-type(1) {
    margin-left: 2.5px;
    margin-right: 1.25px; }
  .two .categories__container_item:nth-of-type(2) {
    margin-left: 1.25px;
    margin-right: 2.5px; }

.tree .categories__container_item {
  width: calc(33% - 3.75px);
  /*padding-top: 33%;*/ }
  .tree .categories__container_item:nth-of-type(1) {
    margin-left: 2.5px;
    margin-right: 1.25px; }
  .tree .categories__container_item:nth-of-type(2) {
    margin-left: 1.25px;
    margin-right: 1.25px; }
  .tree .categories__container_item:nth-of-type(3) {
    margin-left: 1.25px;
    margin-right: 2.5px; }

html {
  height: 100%; }

* {
  box-sizing: border-box; }

ul {
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

body {
  background: #eeeeee;
  padding: 15px;
  margin: 25px;
  margin: 0;
  height: 100%;
  min-height: 540px;
  display: flex;
  justify-content: center;
  align-items: center; }

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 8px;
  overflow: hidden;
  width: 100%;
  height: 100%;
  min-height: 500px;
  max-height: 640px;
  background: #f9f9f9;
  max-width: 375px;
  min-width: 320px;
  margin: 24px auto;
  position: relative; }

.waiter__wrapper {
  width: 95%;
  overflow: auto;
  max-width: 400px;
  margin: 60px auto 60px;
  font-size: 16px;
  font-family: "Quicksand", sans-serif;
  z-index: 8; }
  .waiter__wrapper input[type='submit'] {
    width: 100%;
    background: #ff4d4d;
    margin-top: 15px;
    padding: 7.5px;
    border: 1px solid transparent;
    border-radius: 5px;
    font-family: "Quicksand", sans-serif;
    color: white;
    text-transform: uppercase;
    margin-bottom: 20px; }

.logo {
  font-family: "Dancing Script", cursive, sans-serif;
  font-size: 46px;
  text-align: center;
  color: #ff4d4d; }
  .logo.small {
    text-align: left;
    font-size: 32px; }

.color-main {
  color: #ff4d4d; }

.logo-margin {
  margin-bottom: 50px; }

.txt-bold {
  font-weight: 900; }

.button {
  background: #ff4d4d;
  margin-top: 15px;
  padding: 7.5px;
  border: 1px solid transparent;
  border-radius: 5px;
  font-family: "Quicksand", sans-serif;
  color: white;
  text-transform: uppercase;
  margin-bottom: 20px; }

.h4 {
  width: 60%;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 0;
  color: #979797;
  position: relative; }
  .h4:after {
    content: '';
    display: block;
    height: 3px;
    width: 25%;
    position: absolute;
    left: 105%;
    top: calc(50% - 1.5px);
    background: lightgray;
    border-radius: 10px; }
  .h4:before {
    content: '';
    display: block;
    height: 3px;
    width: 25%;
    position: absolute;
    right: 105%;
    top: calc(50% - 1.5px);
    background: lightgray;
    border-radius: 10px; }

.scale-down {
  transform: scale(0.75);
  transition: .3s; }

.blur {
  filter: blur(5px); }

.hidden {
  transform: scale(0); }

.sing-up-link {
  color: dodgerblue;
  padding: 0 16px;
  display: inline-block;
  text-decoration: underline; }

.aside {
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 25px;
  background: white;
  z-index: 10;
  /* margin-bottom: 40px; */
  width: 100%; }

@keyframes bounce-up-down {
  0% {
    transform: translateY(0); }
  50% {
    transform: translateY(-50px); }
  100% {
    transform: translateY(0); } }

@keyframes bounce-scale {
  0% {
    transform: scale(0.9); }
  30% {
    transform: scale(1.1); }
  60% {
    transform: scale(1); }
  100% {
    transform: scale(0.9); } }

@keyframes rotate-to-zero {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
