@import './initial/_initial.css';
@import './login/_login.css';
* {
    box-sizing: border-box;
}
body {
    background: rgb(238, 238, 238);
    padding: 12px;
    margin: 0;
    height: 100vh;
    width: 100vw;
}
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 18px;
    overflow: hidden;
    width: 100%;
    height: 100%;
	background: #f9f9f9;
}
.color-main {
    color: rgb(255, 77, 77);
}